# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment Variables
.env


# Build artifacts
build/
dist/\\
*.egg-info/

# Logs
*.log


# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store